@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center;">Contoso University</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Contoso University</h2>
        <p>Contoso University is a sample application that uses EF6 in an ASP.NET MVC 5 web app. This is a tutorial project from the asp.net website on mvc.
        </p>
        
    </div>
</div>